*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    /* flex-wrap: wrap; */
    gap: 50px;
}
.container .child{
    background-color: hotpink;
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    list-style: 200px;
    border: 10px solid white;
}

.container .child:nth-child(2){
    font-size: 40px;
}
.container .child:nth-child(4){
    font-size: 10px;
}
.container .child:nth-child(1){
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    flex-basis: 100px;
}
.container .child:nth-child(3){
    /* flex-grow: 1; */
}