body{
    margin: 100px;
    padding: 100px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border: 3px solid black;
}
.box{
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}