.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid black;
}
.box {
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 20px;
}
.box:nth-child(1), 
.box:nth-child(2), 
.box:nth-child(3), 
.box:nth-child(4) {
    width: calc(25% - 10px);
    height: 100px;
}
.box:nth-child(5) {
    width: calc(50% - 10px);
    height: 100px;
}
.box:nth-child(6), 
.box:nth-child(7) {
    width: calc(25% - 10px);
    height: 100px;
}