:root{
    --bg-color: #0a0a0a;
    --btn-color: #D3E97A;
    --heading-color: #ffffff;
    --text-color:#C7C7C7;
    --primary-font:"Bebas Neue";
    --secondary-font:"Manrope";
    --corner-radious:12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--secondary-font);
    color: var(--text-color);
    font-size: 18px;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    background-color: var(--bg-color);
    flex-direction: row;
    padding: 24px 60px;
    justify-content: space-between;
    align-items: center;
}

nav .mobile-menu{
    display: none;
}

nav .logo{
    font-family: var(--primary-font) !important;
    font-size: 32px;
    text-transform: uppercase;
}

nav .desktop-menu{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

nav .desktop-menu li{
    list-style-type: none;
    
}

section{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

section .hi-infor{
    font-family: var(--primary-font) !important;
    color: var(--heading-color);
    font-size: 101px;
    text-transform: uppercase;
    font-style: normal;
}

section .infor-container{
    padding: 190px 0px 190px 108px;
}

section .button-contactme-infor {
    margin-top: 20px;
    background-color: var(--btn-color);
    padding: 10px 24px 10px 6px;
    border-radius: 30px;
    width: 170px;
}

section .button-contactme-infor a {
    color: var(--bg-color);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

section .button-infor i{
    color: var(--btn-color);
    width: 28px;
}

section .icon-infor a{
    color: var(--btn-color);
    border: #222222;
}

section .icon-infor{
    background-color: #222222;
    border: 10px solid #222222;
    border-radius: 50px;
    margin-left: 10px;
}

section .avatar{
    padding: 30px 108px;
}

@media screen and (max-width:768px){
    nav .desktop-menu{
        display: none;
    }

    nav .mobile-menu{
        display: block;
        background-color: transparent;
        border: none;
    }

    nav{
        padding: 24px 16px;
    }
}