*{
    font-size: 16px;
    color: rgb(35, 35, 35);
    box-sizing: border;
    margin: 0px;
    padding: 0px;
}

.box-model{
    width: 150px;
    height: 150px;
    padding: 20px;
    border: 5px solid black;
    margin: 40px;
    background-color: aqua;
    box-sizing: border-box;
}

.relative span{
    padding: 30px;
    margin-right: 10px;
    border: 10px solid black;
    background-color: pink;
}

.absolute span{
    padding: 30px;
    margin-right: 10px;
    border: 10px solid black;
    background-color: pink;
}

.absolute,.relative{
    margin-top: 150px;
}

h3 {
    margin-bottom: 70px;
}

.position-relative{
    position: relative;
    /* top left | top right | bottom left | bottom right */
    top: 170px;
    left: 200px;
}

.position-absolute{
    position: absolute;
    top: 0;
    left: 0;
}