div {
  font-size: 20px;
}
.div {
  padding: 20px;
  border: 1px solid #CCCCCC;
}
span {
  color: #D63384;
}
.button {
  position:absolute;
  top: 89px;
  right: 25%;
  padding: 0;
  margin: 0;
  color: black;
  background-color: white;
  border: none;
  width: 40px;
  font-size: 25px;
  cursor: pointer;
}