*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skill-section{
    padding: 96px 80px;
}

.skill-section .first-row{
    text-align: center;
    margin-bottom: 5px;
}

.skill-section .first-row button{
    border-radius: 12px;
    background-color: #e5e7eb;
    color: #4b5563;
    border: none;
    font-size: 14px;
    padding: 4px 20px;
    align-items: center;
}

.skill-section p{
    font-size: 20px;
    text-align: center;
    color: #4b5563;
    margin-bottom: 48px;
}

.skill-section .row{
    display: flex;
    justify-content: space-between;
}

.skill-section .row .col{
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width:1024px) {
    .skill-section .row{
        flex-wrap: wrap;
        gap: 25px;
    }
    .skill-section .row .col{
        width: calc(25% - 25px);
    }
}

@media screen and (max-width:768px) {
    .skill-section .row .col{
        width: calc(33.33% - 25px);
    }
}