/* Thiết lập các thông số nền tảng */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: rgb(31 31 31);
}

.exercise-06 h3{
    font-size: 35px;
}

.exercise-06 .syntax{
    color: #d7587e;
    background-color: #f6f0f1;
}

.exercise-06 .demo-figure{
    text-align: center;
    border: 3px solid green;
    line-height: 4;
    margin-bottom: 20px;
}

.exercise-06 .example{
    background-color: #e5e9ed;
    padding: 20px;
}

.example h4{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

.example .demo-code{
    background-color: white;
    border-left: 4px solid green;
    padding: 20px;
}

.example .word-1{
    color: #aa5856;
}

.example .word-2{
    color: #e24a4c;
}

.example .word-3{
    color: #4a49c3;
}

.example .word-4{
    color: #ee7c74;
}

.example .word-5{
    color: #4e48c0;
}

.example .button{
    padding: 7px;
    margin-top: 20px;
    background-color: rgb(20, 121, 20);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}