* {
    margin: 0;
    padding: 0;
    box-sizing: border;
    color: white;
    font-size: 30px;
  }
  
  header {
    background-color: red;
    text-align: center;
    padding: 30px 0;
    border-radius: 30px;
    margin-bottom: 20px;
  }
  
  aside:nth-of-type(1) {
    background-color: green;
    border-radius: 30px;
    padding: 10px;
  }
  
  aside:nth-of-type(2) {
    background-color: pink;
    border-radius: 30px;
    padding: 10px;
  }
  
  main {
    background-color: yellow;
    height: 400px;
    border-radius: 30px;
    padding: 10px;
  }
  
  section {
    display: flex;
    gap: 20px;
  }
  
  footer {
    background-color: blue;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    border-radius: 30px;
  }
  
  @media screen and (max-width: 1024px) {
    section {
      flex-direction: column;
    }
    aside {
      text-align: center;
    }
  }
  
  .container {
    background-color: pink;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .child {
    background-color: hotpink;
    color: rgb(53, 53, 53);
    text-align: center;
    width: 25%;
    height: 150px;
    line-height: 150px;
    border: 1px solid white;
  }
  
  @media screen and (max-width: 1024px) {
    .container {
      flex-wrap: wrap;
    }
    .child {
      width: calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .child {
      width: 100%;
    }
  }